<!doctype html>
<html lang="en">

<%- include('./include/header'); %>

<body>
    <section class="breadcrumb-header home-2" id="page"
    style="background-image: url(images/header/08_header.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner">
                    <h1>About US</h1>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-angle-right"></i></li>
                        <li>About US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="about-us home-2 py-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="about-text-box">
                        <div class="sec-title home-2">
                            <h2>Stay Up, Stay Running, Stay Protected</h2>
                            <h3>The IT Solutions &amp; Technology &amp; Services Company Founded in 1976</h3>
                            <p class="sec-explain">The name of the Firm is derived from the Sanskrit word “Avyukta”,
                                which is one of the 108 names of Lord
                                Krishna and which means "One who is as clear as Crystal". We believe that our Firm’s name
                                reflects our clear
                                and result-oriented approach to unravel complex legal issues of our clients. Avyuktaa
                                Legal is a full-service
                                law firm providing comprehensive advice and effective legal representation for any of
                                your legal issues. We
                                are committed to excellence and have been successfully representing niche clients.</p>
                        </div>
                      
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="about-img-box">
                        <div class="img-box">
                            <img class="img-fluid" src="images/about/02_about.jpg" alt="02 About">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('./include/footer'); %>
</body>

</html>


