<!doctype html>
<html lang="en">

<%- include('./include/header'); %>

<body>
   
    <!-- :: Header -->
    <section class="header home-2" id="page">
        <div class="header-carousel owl-carousel owl-theme">
            <div class="sec-hero display-table" style="background-image: url(./images/banner3.jpg)">
                <div class="table-cell">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner">
                                    <h1 class="handline">Avuyktaa Legal
                                        <p class="about-website">(Advocates, Solicitors, NOTARY & Legal
                                            Consultants)</p>
                                        <!--  -->
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="sec-hero display-table" style="background-image: url(./images/banner1.jpg)">
                <div class="table-cell">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner">
                                    <div class="top-handline">Climb to the top</div>
                                    <h1 class="handline">Avuyktaa Legal
                                        (Advocates, Solicitors, NOTARY & Legal
                                        Consultants)
                                    </h1>
                                    <p class="about-website">GateData Are A IT Solutions &amp; Technology Services Provider Institutions. Suitable For IT Solutions, IT Technology, IT Business, Software, Digital Solution And Any Related Services Company Field.</p>
                                        <a class="btn-1 btn-2" href="02_about-us.html">More About Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="sec-hero display-table" style="background-image: url(./images/header/02_header.jpg)">
                    <div class="table-cell">
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="banner">
                                        <div class="top-handline">Ready To make your dream!</div>
                                        <h1 class="handline">IT Services For Your Business</h1>
                                        <p class="about-website">GateData Are A IT Solutions &amp; Technology Services Provider Institutions. Suitable For IT Solutions, IT Technology, IT Business, Software, Digital Solution And Any Related Services Company Field.</p>
                                        <a class="btn-1 btn-4" href="02_services.html">Our Services</a>
                                        <a class="btn-1 btn-2 ml-30" href="02_about-us.html">Get Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        </div>
    </section>

    <!-- :: Features -->
    <section class="features home-2">
        <div class="container">
            <div class="row all-features-item">
                <div class="col-lg-4 padding-0">
                    <div class="features-item one">
                        <i class="icon-item icon-cloud-computing-1"></i>
                        <div class="content-box">
                            <span>24/7 maintenance &amp; monitoring</span>
                            <h4>Managed IT services</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 padding-0">
                    <div class="features-item two active-bg">
                        <i class="icon-item icon-analytics-2"></i>
                        <div class="content-box">
                            <span>Prevent data loss</span>
                            <h4>Backup and recovery</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 padding-0">
                    <div class="features-item three">
                        <i class="icon-item icon-big-data-2"></i>
                        <div class="content-box">
                            <span>Protect your business from malware</span>
                            <h4>Cyber security</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: About Us -->
    <section class="about-us home-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="about-text-box">
                        <div class="sec-title home-2">
                            <h2>Stay Up, Stay Running, Stay Protected</h2>
                            <h3>The IT Solutions &amp; Technology &amp; Services Company Founded in 1976</h3>
                            <p class="sec-explain">GateData Are A IT Solutions &amp; Technology Services Provider
                                Institutions. Suitable For IT Solutions, IT Technology, IT Business, Consulting,
                                Software, Digital Solution And Any Related Services Company Field.</p>
                        </div>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>Great Support</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Amazing People</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Customers First</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>And More...</h4>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-sm-6">
                                <p class="p-about">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry simply.</p>
                            </div>
                            <div class="col-sm-6">
                                <p class="p-about">Lorem Ipsum is simply dummy text of the printing and typesetting
                                    industry simply.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="about-btn">
                                    <a href="02_about-us.html" class="btn-1 btn-3">More About Us</a>
                                </div>
                            </div>
                            <div class="col-sm-6 d-flex align-items-center">
                                <img class="img-fluid sign-about" src="./images/sign.png" alt="Sign About">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="about-img-box">
                        <div class="img-box">
                            <img class="img-fluid" src="./images/about/02_about.jpg" alt="02 About">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Services -->
    <section class="services home-2 py-100">
        <div class="container">
            <div class="sec-title home-2">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>Technology &amp; IT Services</h2>
                        <h3>GateData Named Best Cloud Services Provider</h3>
                    </div>
                    <div class="col-lg-5 d-flex align-items-center">
                        <p class="sec-explain">GateData Are A IT Solutions &amp; Technology Services Provider
                            Institutions. Suitable For IT Solutions, IT Technology, IT Business, Consulting, Software,
                            Digital Solution And Any Related Services Company Field.</p>
                    </div>
                </div>
            </div>
            <div class="services-carousel owl-carousel owl-theme">
                <div class="services-item-2">
                    <div class="services-item-img-box">
                        <img class="img-fluid" src="./images/services/01_services.jpg" alt="01 services">
                    </div>
                    <div class="services-item-text-box">
                        <span></span>
                        <i class="icon-services-item icon-big-data-3"></i>
                        <div class="content-box">
                            <h4>Workplace Technology</h4>
                            <p>The workplace of the future empowering your people.</p>
                            <ul class="core-services">
                                <li>Smart Office</li>
                                <li>Digital User Experience</li>
                                <li>Network, WiFi &amp; IoT</li>
                                <li>Audio-Visual Solutions</li>
                                <li>Digital User Experience</li>
                                <li>Audio-Visual Solutions</li>
                            </ul>
                            <a href="01_services.html" class="more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="services-item-2">
                    <div class="services-item-img-box">
                        <img class="img-fluid" src="./images/services/02_services.jpg" alt="02 services">
                    </div>
                    <div class="services-item-text-box">
                        <span></span>
                        <i class="icon-services-item icon-big-data"></i>
                        <div class="content-box">
                            <h4>Data Center Solutions</h4>
                            <p>Leverage design and build infrastructure experts.</p>
                            <ul class="core-services">
                                <li>Expansion &amp; Consolidations</li>
                                <li>Design &amp; Build</li>
                                <li>Revit Design Services</li>
                                <li>Hot/Cold Aisle Containment</li>
                                <li>Design &amp; Build</li>
                                <li>Hot/Cold Aisle Containment</li>
                            </ul>
                            <a href="02_services.html" class="more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="services-item-2">
                    <div class="services-item-img-box">
                        <img class="img-fluid" src="./images/services/03_services.jpg" alt="03 services">
                    </div>
                    <div class="services-item-text-box">
                        <span></span>
                        <i class="icon-services-item icon-computing"></i>
                        <div class="content-box">
                            <h4>Migrations &amp; Cloud</h4>
                            <p>We take you from complexity to confidence</p>
                            <ul class="core-services">
                                <li>Asset Inventory &amp; Validation</li>
                                <li>Project Management</li>
                                <li>Application Assessment</li>
                                <li>Consolidation Strategy</li>
                                <li>Project Management</li>
                                <li>Consolidation Strategy</li>
                            </ul>
                            <a href="02_services.html" class="more">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="services-item-2">
                    <div class="services-item-img-box">
                        <img class="img-fluid" src="./images/services/04_services.jpg" alt="04 services">
                    </div>
                    <div class="services-item-text-box">
                        <span></span>
                        <i class="icon-services-item icon-processing"></i>
                        <div class="content-box">
                            <h4>Managed Services</h4>
                            <p>Innovative, fully-managed IT and cyber advisory solutions</p>
                            <ul class="core-services">
                                <li>Managed Platform</li>
                                <li>Private and Public Iaas</li>
                                <li>Service Desk &amp; NOC</li>
                                <li>GateData Cybersecurity</li>
                                <li>Private and Public Iaas</li>
                                <li>GateData Cybersecurity</li>
                            </ul>
                            <a href="02_services.html" class="more">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Team -->
    <section class="team home-2 py-100-70">
        <div class="container">
            <div class="sec-title home-2">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>Leadership</h2>
                        <h3>Meet Our Team</h3>
                    </div>
                    <div class="col-lg-5 d-flex align-items-center">
                        <p class="sec-explain">GateData Are A IT Solutions &amp; Technology Services Provider
                            Institutions. Suitable For IT Solutions, IT Technology, IT Business, Consulting, Software,
                            Digital Solution And Any Related Services Company Field.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="team-box">
                        <div class="img-box">
                            <img class="img-fluid" src="./images/team/02_team.jpg" alt="02 team">
                            <div class="img-box-hover">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-box text-center">
                            <h5>Mohamed said</h5>
                            <span>Director Of IT</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="team-box">
                        <div class="img-box">
                            <img class="img-fluid" src="./images/team/01_team.jpg" alt="01 team">
                            <div class="img-box-hover">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-box text-center">
                            <h5>Anwar Ramadan</h5>
                            <span>President &amp; CEO</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="team-box">
                        <div class="img-box">
                            <img class="img-fluid" src="./images/team/03_team.jpg" alt="03 team">
                            <div class="img-box-hover">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="text-box text-center">
                            <h5>Sana El-Shamy</h5>
                            <span>Director Of Managed Services</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('./include/footer'); %>
</body>

</html>


