<!doctype html>
<html lang="en">

<%- include('./include/header'); %>

<body>
    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header" id="page" style="background-image: url(images/header/06_header.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner">
                        <h1>General Corporate, Commercial & Contracts</h1>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li> General Corporate, Commercial & Contracts</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="about-us home-3 py-100" id="start">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex align-items-center justify-content-between">
                    <div class="about-img-box">
                        <div class="img-box">
                            <img class="img-fluid" src="images/about/03_about.jpg" alt="03 About">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">

                    <section class="features home-2">
                        <div class="row all-features-item">
                            <!-- <div class="col-lg-6 padding-0"> -->
                            <div class="features-item one" style="border-radius: 5px;">
                                <!-- <i class="icon-item icon-cloud-computing-1"></i> -->
                                <!-- <i class="icon-item icon-scale-balanced"></i> -->
                                <div class="content-box">
                                    <h4>Why choose our practice</h4>
                                    <span>Our expert corporate lawyers and chartered accountants,
                                        company secretaries and other professionals associated
                                        with us enjoy good repute in matters related to all
                                        corporate, commercial and contract laws practice and are
                                        adept in handling complex commercial and corporate legal
                                        matters and documentation</span>

                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                    </section>


                    <div class="services-item">
                        <span></span>
                        <!-- <i class="icon-services-item icon-big-data-3"></i> -->
                        <div class="content-box">
                            <h4>Drafting, Negotiating, Finalizing and Execution</h4>
                            <ul class="core-services">
                                <li>Service Agreements</li>
                                <li>Distribution Agreements</li>
                                <li>Manufacturing Agreements & Supply Agreements</li>
                                <li>Lease Deeds</li>
                                <li>Shareholders Agreements</li>
                                <li>Joint Venture Agreements</li>
                                <li>Technical Collaboration Agreements</li>
                                <li>Management Contracts</li>
                                <li>License Agreements</li>
                                <li>Mutual Termination & Release Agreements</li>
                                <li> Indemnity Agreements</li>
                                <li> Non-Compete Agreements </li>
                                <li> Non-Disclosure Agreements </li>
                                <li> Escrow Arrangements/Agreements </li>
                                <li> Employment Agreements </li>
                                <li> Consultancy Agreements </li>
                                <li> Franchise Agreements </li>
                                <li> Other similar business contracts suitable for a client's business needs </li>
                            </ul>
                            <p>We also advice clients on legal aspects of foreign direct investment, outbound transactions,
                                incorporation of companies,
                                partnerships and limited liability partnerships, corporate governance, corporate secretarial
                                assistance, technology
                                transfers, licensing and outsourcing.</p>
                        </div>
                    </div>
                    
                </div>
            </div>
       
        </div>
        
    </section>

    <%- include('./include/footer'); %>
</body>

</html>


