<!doctype html>
<html lang="en">

<%- include('./include/header'); %>

<body>
    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header" id="page" style="background-image: url(images/header/06_header.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner">
                        <h1>Mergers & Acquisitions</h1>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li>Mergers & Acquisitions</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Services -->
    <section class="services py-100-70">
        <div class="container">
            <div class="sec-title">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>Mergers & Acquisitions</h2>
                        <h3>Why choose our practice</h3>
                    </div>
                    <div class="col-lg-5 d-flex align-items-center">
                        <p class="sec-explain">Our M&A practice includes providing legal assistance to
                            clients for takeovers, asset and business unit
                            transactions/slump sale(s). <br><br>
                            Our M&A practice group is proficient in handling the
                            following important aspects of M&A transactions for clients.
                        </p>

                    </div>
                </div>
            </div>
            <div class="services-carousel owl-carousel owl-theme">
                <div class="services-item">
                    <span></span>
                    <!-- <i class="icon-services-item icon-big-data-3"></i> -->
                    <div class="content-box">
                        <h4>M&A Documentation</h4>
                        <!-- <p>The workplace of the future empowering your people.</p> -->
                        <ul class="core-services">
                            The Firm has an extensive experience in structuring and
                            negotiating the relatively complicated transaction
                            documents involved in M&A’s, including Asset Purchase
                            Agreements, management buy-outs, Business
                            Transfer/Slump Sale Agreements, Share Purchase
                            Agreements, Share Subscription Agreements, Investment
                            Agreements, Shareholders Agreements, Joint Venture
                            Agreements and other ancillary documentation that may be
                            required.
                        </ul>
                    </div>
                </div>
                <div class="services-item">
                    <span></span>
                    <div class="content-box">
                        <h4>Due Deligence</h4>
                        <ul class="core-services">
                            We conduct extensive DD both from legal and commercial
                            perspective in order to ascertain (i) the assets and liabilities
                            of a target company or business or asset based on the
                            underlying records, and (ii) the risk of acquisition/business
                            on behalf of clients. This includes visiting data rooms,
                            physical visits for conduction the DD, undertaking extensive
                            review of the relevant documents for relevant periods,
                            conducting interviews with personnel of target
                            company/business and preparing comprehensive DD
                            reports for clients. We also conduct extensive DDs for
                            review of the corporate records, documents, contracts for
                            assessing whether the existing standards of corporate
                            governance adopted by the client is appropriate, having
                            regard to various laws applicable to such clients and
                            advising them if any further steps are required to be taken
                            to ensure highest levels of corporate governance.

                        </ul>
                    </div>
                </div>
                <div class="services-item">
                    <span></span>
                    <div class="content-box">
                        <h4>Closing</h4>
                        <ul class="core-services">
                            We also negotiates and provides end to end legal support
                            in closure of the M&A transactions, including reviewing and
                            advising on closing documents
                        </ul>
                    </div>
                </div>
                <div class="services-item">
                    <span></span>
                    <div class="content-box">
                        <h4>Stamp Duty</h4>
                        <ul class="core-services">
                            Stamp duties may pose significant costs on M&A
                            transactions and our team provides general advisory to
                            clients on stamp duty laws and adjudication of relevant
                            documentation for ascertaining of applicable stamp duty
                            thereon.
                        </ul>
                    </div>
                </div>
                <div class="services-item">
                    <span></span>
                    <div class="content-box">
                        <h4>Post-Closing Compliances</h4>
                        <ul class="core-services">
                            We also advise with respect to post closing compliances
                            including drafting and filing of the necessary documents
                            before the concerned ROC, DPIIT, FIFP, RBI and concerned
                            ministry, etc., and sending requisite intimations under
                            various contracts to relevant parties involved
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('./include/footer'); %>
</body>

</html>


