<!doctype html>
<html lang="en">

<%- include('./include/header'); %>

<body>
    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header home-2" id="page"
        style="background-image: url(images/header/08_header.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="banner">
                        <h1>Our Team</h1>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li>Our Team</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Team Details -->
    <div class="single-team py-100-70">
        <div class="container">
            <div class="sec-title">
                <div class="row">
                    <div class="col-lg-4">
                        <h3>Meet Our Team</h3>
                    </div>
                    <div class="col-lg-8 d-flex align-items-center">
                        <p class="sec-explain">Our team consists of experienced professionals from varied fields of
                            specialization and are well equipped
                            and empowered to provide exceptional services. Each of our professionals are well recognized
                            and are
                            committed to represent our client’s interests and believe in giving a practical, hands-on
                            commercial advice
                            and support. At Avyuktaa Legal, we believe in a seamless approach to build and create the
                            most skill-full
                            and cost-effective team by providing flexible, scalable team(s) that are specifically
                            resourced and selected
                            to meet our client’s needs.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5em;border-bottom: 1px solid #DDD;">
                <div class="col-md-4">
                    <div class="single-team-sidebar mr-20">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="images/team/01_team.jpg" alt="01 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Rajnni Kuttyy</h5>
                                <span>Founder Attorney</span><br>
                                <label style="text-transform: lowercase;"><a style="color: #000;" href="mailto:rkuttyy@avyuktaalegal.com">rkuttyy@avyuktaalegal.com </a></label>
                            </div>
                        </div>
                       
                        <div class="call-back">
                            <i class="icon-call"></i>
                            <div class="content-box">
                                <h5>let's Talk</h5>
                                <a class="call-phone" href="tel:+9198200 58115">+91 98200 58115</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="single-team-content-box">
                        <h2>Info</h2>
                        <p>Rajnni is the founder of Avyuktaa Legal and heads the same. She is a general corporate lawyer
                            having
                            extensive experience in commercial and transactional laws of over 24 years and has advised
                            /represented
                            large corporates including various reputed MNCs.
                        </p>
                        <p>Before founding Avyuktaa Legal, Rajnni had an opportunity to be in private practice as an
                            Equity Partner of a
                            reputed law firm viz Gagrats (Advocates & Solicitors). She has also worked with other law
                            firms such as
                            Mohana Nair & Associates, (Advocates & Notary), Little & Co, (Advocates, Solicitors &
                            Notaries) and M&M
                            Legal Ventures, (Advocates & Solicitors).</p>
                        <!-- <p>Rajnni holds a Bachelor of Commerce degree from Mumbai University, LL.B. degree from K.C. Law
                            College,
                            Mumbai and a Masters in Commercial Law (LL.M.) from Cardiff Law School, (Wales, UK) with
                            specialization in
                            the areas of Comparative Corporate Governance, Intellectual Property Law and Industrial
                            Property Law.
                        </p> -->
                        <!-- <p>Rajnni’s practice areas include Aviation, Banking & Finance, General Corporate, Commercial &
                            Contracts,
                            M&As, Media & Entertainment, Private Equity, Family & Matrimonial matters, Intellectual
                            Property and Real
                            Estate.</p> -->
                        <h3>Qualifications</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>Bachelor of Commerce degree from Mumbai University</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>LL.B. degree from K.C. Law
                                    College
                                    Mumbai</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Masters in Commercial Law (LL.M.) from Cardiff Law School, (Wales, UK) with
                                    specialization in
                                    the areas of Comparative Corporate Governance, Intellectual Property Law and Industrial
                                    Property Law</h4>
                            </li>
                        </ul>
                        <h3>Practice Areas</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>Aviation</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Banking & Finance</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>General Corporate</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Commercial &
                                    Contracts</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>M&As</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Media & Entertainment</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Private Equity</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Family & Matrimonial matters</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Intellectual
                                    Property and Real
                                    Estate</h4>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5em;border-bottom: 1px solid #DDD;">
                <div class="col-md-4">
                    <div class="single-team-sidebar mr-20">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="images/team/01_team.jpg" alt="01 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Prieyaa Masih</h5>
                                <span>OF-Counsel</span><br>
                                <label style="text-transform: lowercase;"><a style="color: #000;" href="mailto:prieyaamasih@avyuktaalegal.com">prieyaamasih@avyuktaalegal.com </a></label>
                            </div>
                        </div>
                       
                        <!-- <div class="call-back">
                            <i class="icon-call"></i>
                            <div class="content-box">
                                <h5>let's Talk</h5>
                                <a class="call-phone" href="tel:+9198200 58115">+91 98200 58115</a>
                            </div>
                            
                        </div> -->
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="single-team-content-box">
                        <h2>Info</h2>
                        <p>Prieyaa is a seasoned attorney with 15+ years of track record in providing solutions to the most demanding
                            legal matters. Armed with a master’s degree in law from King's College London, she has the ability to simplify
                            complex legal issues and provide crystal clear advice to our clients about their options.                            
                        </p>
                        <p>Having successfully represented organizations, corporations and individual clients in high profile civil and
                            criminal matters and has worked extensively for and has advised /represented large corporates including
                            various reputed MNCs in the aviation, pharmaceutical, engineering, medical, education and infrastructure
                            sectors.</p>
                      
                        <h3>Practice Areas</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>Property Law, Civil Law, Criminal Law</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Suits for Recovery</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Trust(s) Laws</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Company Law, Medical Laws</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Pharmaceutical Industry</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Engineering Sector, Shipping, Aviation Sector</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4> Intellectual Property Laws (including registration of Trademarks
                                    in India and Community Trademarks in European Union and the UAE, IPR Infringements and Patent
                                    registrations, etc)</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Arbitration Laws (both domestic and international)</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>BTAs, SRAs</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Mergers and Acquisitions,
                                    Joint Ventures</h4>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5em;border-bottom: 1px solid #DDD;">
                <div class="col-md-4">
                    <div class="single-team-sidebar mr-20">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="images/team/01_team.jpg" alt="01 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Durgaprasad Sabnis</h5>
                                <span>OF-Counsel</span><br>
                                <label style="text-transform: lowercase;"><a style="color: #000;" href="mailto:partners@avyuktaalegal.com">partners@avyuktaalegal.com </a></label>
                            </div>
                        </div>
                       
                        <div class="call-back">
                            <i class="icon-call"></i>
                            <div class="content-box">
                                <h5>let's Talk</h5>
                                <a class="call-phone" href="tel:+919892610695">+91 98926 10695</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="single-team-content-box">
                        <h2>Info</h2>
                        <p>Durgaprasad Sabnis is a practicing Advocate & Solicitor since 2008 with varied experience in most facets of
                            litigation including civil, commercial and constitutional matters. He is affiliated with and is an Of-Counsel at
                            Avyuktaa Legal.
                        </p>
                        <p>Durgaprasad provides end to end support to clients in all his assignments and appears before various legal
                            fora including the Supreme Court of India, various High Courts, National Company Law Tribunal, National
                            Company Law Appellate Tribunal, Arbitral Tribunals and Consumer Courts.</p>
                        <p>He has also co-authored an article namely “The Governor’s power to dissolve the Legislative AssemblyJudicial Review and other facets”, published in the “INDIAN BAR REVIEW” Vol. XXX (2 & 3) 2003
                        </p>
                        <!-- <p>Rajnni’s practice areas include Aviation, Banking & Finance, General Corporate, Commercial &
                            Contracts,
                            M&As, Media & Entertainment, Private Equity, Family & Matrimonial matters, Intellectual
                            Property and Real
                            Estate.</p> -->
                        <h3>Qualifications & Experience</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>LL.B. from Government Law College, Mumbai</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Solicitor of
                                    the High Court of Bombay</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Professional memberships in The Bar Council of Maharashtra and
                                    Goa and the Bombay Incorporated Law Society</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>He has worked with DSK Legal, Mumbai</h4>
                            </li>
                        </ul>
                        <h3>Practice Areas</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>Litigation and
                                    Arbitration matters</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Corporate and Commercial Law matters</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Real Estate matters and Dispute Resolution</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Advised various corporate entities as also individual clients in transactional matters and represents them in
                                    several Courts and quasi-judicial fora.</h4>
                            </li>
                            
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5em;border-bottom: 1px solid #DDD;">
                <div class="col-md-4">
                    <div class="single-team-sidebar mr-20">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="images/team/01_team.jpg" alt="01 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Gaurav Sharma</h5>
                                <span>OF-Counsel</span><br>
                                <label style="text-transform: lowercase;"><a style="color: #000;" href="mailto:partners@avyuktaalegal.com">partners@avyuktaalegal.com </a></label>
                            </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="single-team-content-box">
                        <h2>Info</h2>
                        <p>Gaurav Sharma is a practicing Advocate and a member of the Bar of the Hon’ble High Court of Bombay since
                            2014. He specializes in civil, corporate and commercial litigations and regularly appears before various forums
                            and Courts.
                        </p>
                        <p>Gaurav is the youngest recipient of the prestigious fellowship of the Chartered Institute of Arbitrators, UK and
                            acts as an Arbitrator.</p>
                     
                        <h3>Qualifications</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>B.A LL.B (Hons.) From O.P. Jindal Global University</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Course - International Law and Global Governance at Sommerville College, University of Oxford</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Master’s in Law (LL.M) in International Trade and Commercial Law from the University of
                                    Durham, UK</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Presently completing Ph.D. at the University of Mumbai on Cryptocurrency</h4>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5em;border-bottom: 1px solid #DDD;">
                <div class="col-md-4">
                    <div class="single-team-sidebar mr-20">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="images/team/01_team.jpg" alt="01 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Jay Jhaveri</h5>
                                <span>Finance & Tax Consultant</span><br>
                                <label style="text-transform: lowercase;"><a style="color: #000;" href="mailto:avyuktaa@avyuktaalegal.com">avyuktaa@avyuktaalegal.com </a></label>
                            </div>
                        </div>
                       
                        <div class="call-back">
                            <i class="icon-call"></i>
                            <div class="content-box">
                                <h5>let's Talk</h5>
                                <a class="call-phone" href="tel:+919619941184">+91 96199 41184</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="single-team-content-box">
                        <h2>Info</h2>
                        <p>Jay is our financial and tax consultant and is associated with Avyuktaa Legal since its inception.
                        </p>
                        <p>He has over a decade of post qualification experience with diverse experience across varied industrial sectors
                            and advisory assignments especially with respect to transaction advisory and valuations.
                            </p>
                      
                        <h3>Qualifications</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>CA</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>CS</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>CFA</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>MBA (from SP Jain Institute of Management Research)</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4> Level 1 FRM.</h4>
                            </li>
                        </ul>
                        <h3>Experience</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>M&A deals with focus to providing single window solutions involving complex
                                    structures an has independently handled the entire process from buyer scouting to closing deals</h4>
                            </li>
                           
                        </ul>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5em;border-bottom: 1px solid #DDD;">
                <div class="col-md-4">
                    <div class="single-team-sidebar mr-20">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="images/team/01_team.jpg" alt="01 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Taizoon M. Khumri</h5>
                                <span>SR. Consultant Company Secretary</span><br>
                                <label style="text-transform: lowercase;"><a style="color: #000;" href="mailto:cs@avyuktaalegal.com">cs@avyuktaalegal.com </a></label>
                            </div>
                        </div>
                       
                        <div class="call-back">
                            <i class="icon-call"></i>
                            <div class="content-box">
                                <h5>let's Talk</h5>
                                <a class="call-phone" href="tel:+9198200 57973">+91 98200 57973</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="single-team-content-box">
                        <h2>Info</h2>
                        <p>Mr. Taizoon M. Khumri is a practising Company Secretary by profession and a senior Fellow Member of the
                            Institute of Company Secretaries of India who started his career in the year 1979 and has built a successful
                            practice spanning over 41 years. He is affiliated with and is a Senior Consultant Company Secretary at
                            Avyuktaa Legal.
                        </p>
                        <p>Mr. Khumri has advised several foreign and domestic clients on matters relating to corporate law and regularly
                            works with international clients looking at an entry in the Indian markets as well as clients looking at
                            expanding its business.</p>
                        <p>Mr. Khumri has also worked with some of the well-known companies in India and is passionate about building
collaborative relationships between businesses and people. He has a vast experience in Corporate Laws
including mergers, acquisitions, hostile takeovers, etc;, and has advised various multinational companies such
as Gammon India Limited, Siemens Limited, Glaxo Smith Kline Pharmaceuticals (India) Limited, Mahindra &
Mahindra Limited, Serdia Pharmaceuticals (India) Private Limited (a Group Company of Les Servier
Laboratories, France), MC Bauchemie (India) Private Limited (a joint venture company of MC Bauchemie
Mueller GmBH, Germany), BASF (India) Limited, Bayer (India) Limited, Clariant (India) Limited, Sesa Goa Limited,
Kodak (India) Limited, Pfizer (India) Limited, Abbott India Limited, TCS Limited, Generacion Eolica (India)
Limited (a member of the FERSA Group of Spain), Wilco Maritime Training (India) Private Limited, and Wallem
Ship Management (India) Limited (members of the Wallem Group of Hong Kong).
                        </p>
                        <p>Mr. Khumri has also been over a decade been actively associated with leading companies in the Indian
                            aviation sector and has handles various corporate law assignments for both, listed and unlisted companies in
                            India and abroad.</p>
                        <h3>Experience</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>Corporate Laws
                                    including mergers, acquisitions, hostile takeovers</h4>
                            </li>
                        

                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5em;border-bottom: 1px solid #DDD;">
                <div class="col-md-4">
                    <div class="single-team-sidebar mr-20">
                        <div class="team-box">
                            <div class="img-box">
                                <img class="img-fluid" src="images/team/01_team.jpg" alt="01 team">
                                <div class="img-box-hover">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text-box text-center">
                                <h5>Husain Wagh</h5>
                                <span>OF-Counsel and Company Secretary</span><br>
                                <label style="text-transform: lowercase;"><a style="color: #000;" href="mailto:cs@avyuktaalegal.com">cs@avyuktaalegal.com </a></label>
                            </div>
                        </div>
                       
                        <div class="call-back">
                            <i class="icon-call"></i>
                            <div class="content-box">
                                <h5>let's Talk</h5>
                                <a class="call-phone" href="tel:+9198926 10695">+91 98926 10695</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="single-team-content-box">
                        <h2>Info</h2>
                        <p>Husain Wagh has pursued his LL.B from Government Law College, Mumbai and is a qualified and a practicing
                            Company Secretary by profession and has over 7 years of experience in the field of corporate governance and
                            in assisting companies in risk assessment, corporate structuring/re-structuring and corporate compliances.
                            Husain has immense experience in dealing with matters relating to company law, securities laws, corporate
                            governance issues, corporate due diligence, joint ventures, foreign collaborations, technology transfers,
                            mergers and acquisitions for both private and publicly listed companies. He is affiliated with and is an OfCounsel and Consultant Company Secretary at Avyuktaa Legal.                            
                        </p>
                       
                        <h3>Specialized Services and Assignments</h3>
                        <ul class="core-about-list">
                            <li><i class="fas fa-check"></i>
                                <h4>Corporate and Commercial Law Advisory & Compliance Management Services</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Corporate Secretarial audit / due diligence for assessing whether the existing standards of corporate
                                    governance adopted by a client is appropriate, having regard to various laws applicable to such client and
                                    advising them if any further steps are required to be taken to ensure highest levels of corporate
                                    governance</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Corporate Governance related compliances & audit services for Pvt Co, Unlisted Public Co, Listed Co and
                                    Government Co.</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Scrutinizer (E-voting & Postal ballot) and XBRL conversion & e-filing compliance management services</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Corporate restructuring, M&As, JVs, valuation & strategic advisory services and Private Equity advisory
                                    services</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Incorporation of a Pvt Ltd Co, Public Ltd C, JVCo, Not-for-Profit Co, Producer Co, Nidhi Co; and LLPs</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Annual filings for Pvt Ltd Co and Listed Co including XBRL filings</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>FEMA / RBI Compliances relating to Private and Public Company</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Compounding of offences and condonation of delays under Companies Act, 2013</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Conversion of a Public Company into a Private Company and vice versa</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Certification & Audit for various matters related to Pvt, Public (Listed & Unlisted) Cos.</h4>
                            </li>
                            <li><i class="fas fa-check"></i>
                                <h4>Voluntary winding-up of Companies</h4>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./include/footer'); %>
</body>

</html>


