<head>
    <!-- :: Required Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- :: Bootstrap CSS -->
    <link rel="stylesheet" href="./css/bootstrap.min.css">

    <!-- :: Favicon -->
    <link rel="icon" type="image/png" href="./images/company logo.jpeg">

    <!-- :: Title -->
    <title>Avyuktaa Legal</title>

    <!-- :: Google Fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Teko:wght@400;500;600;700&display=swap">

    <!-- :: Fontawesome -->
    <link rel="stylesheet" href="./fonts/fontawesome/css/all.min.css">

    <!-- :: Icomoon -->
    <link rel="stylesheet" href="./fonts/icomoon/style.css">

    <!-- :: Animate -->
    <link rel="stylesheet" href="./css/animate.css">

    <!-- :: Owl Carousel -->
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/owl.theme.default.min.css">

    <!-- :: Lity -->
    <link rel="stylesheet" href="./css/lity.min.css">

    <!-- :: Nice Select CSS -->
    <link rel="stylesheet" href="./css/nice-select.css">

    <!-- :: Magnific Popup CSS -->
    <link rel="stylesheet" href="./css/magnific-popup.css">

    <!-- :: Style CSS -->
    <link rel="stylesheet" href="./css/style.css">

    <!-- :: Style Responsive CSS -->
    <link rel="stylesheet" href="./css/responsive.css">

    <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
</head>

<body>
    <!-- :: Loading -->
    <div class="loading">
        <div class="loading-box">
            <div class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <!-- :: All Navbar -->
    <header class="all-navbar fixed-top home-2">
        <!-- :: Top Navbar -->
        <div class="nav-top">
            <div class="container">
                <div class="nav-top-box d-flex align-items-center justify-content-between">
                    <ul class="info">
                        <li><span>Email :</span> <a
                                href="mailto:avyuktaa@avyuktaalegal.com">avyuktaa@avyuktaalegal.com</a></li>
                        <li><span>Phone :</span> <a href="tel:+919324160365">+91 93241 60365</a></li>
                    </ul>
                    <!-- <ul class="icon-follow">
                            <li><a class="icon" href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a class="icon" href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a class="icon" href="#"><i class="fas fa-rss"></i></a></li>
                            <li><a class="icon search-icon open" href="#"><i class="fas fa-search"></i></a></li>
                        </ul> -->
                </div>
            </div>
        </div>

        <!-- :: Navbar -->
        <nav class="nav-bar">
            <div class="container">
                <div class="content-box d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <a href="index.html" class="logo-nav">
                            <img class="img-fluid one" src="./images/company logo.jpeg" alt="01 Logo">
                            <!-- <img class="img-fluid two" src="./images/company logo.jpeg" alt="02 Logo"> -->
                        </a>
                        <a href="#open-nav-bar-menu" class="open-nav-bar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="nav-bar-links" id="open-nav-bar-menu">
                        <ul class="level-1">
                            <li class="item-level-1 has-menu">
                                <a href="#" class="link-level-1 color-active">Home</a>
                                <ul class="level-2">
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="index.html">Home Main</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="02_home.html">Home Modern</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="03_home.html">Home Classic</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="item-level-1">
                                <a href="about" class="link-level-1">About Us</a>
                            </li>
                            <li class="item-level-1">
                                <a href="approach" class="link-level-1">Our Approach</a>
                            </li>
                            <li class="item-level-1">
                                <a href="client" class="link-level-1">Investing in our clients</a>
                            </li>
                            <li class="item-level-1">
                                <a href="team" class="link-level-1">Our Team</a>
                            </li>
                            <li class="item-level-1 has-menu">
                                <a href="#" class="link-level-1">Practice Areas</a>
                                <ul class="level-2" style="min-width: max-content;">
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="practice1">General Corporate, Commercial &
                                            Contracts</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="practice2">Mergers & Acquisitions</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="practice3">Private Equity</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="01_single-services.html">Media & Entertainment</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="01_single-services.html">Intellectual Property
                                            Rights</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="01_single-services.html">Information
                                            Technology</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="01_single-services.html">Real Estate</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="01_single-services.html">Family Law & Matrimonial
                                            Disputes</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="01_single-services.html">Dispute Resolution</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="01_single-services.html">Trusts & Estate
                                            Planning</a>
                                    </li>
                                    <li class="item-level-2">
                                        <a class="link-level-2" href="01_single-services.html">Private Client
                                            Practice</a>
                                    </li>
                                </ul>
                            </li>


                            <li class="item-level-1">
                                <a href="contact" class="link-level-1">Contact us</a>
                            </li>
                            <li class="item-level-1">
                                <a href="disclaimer" class="link-level-1">Disclaimer</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav-bar-tools d-flex align-items-center justify-content-between">

                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- :: Search Box -->
    <div class="search-box">
        <form>
            <input type="search" placeholder="Search Here.....">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <span class="search-box-icon exit"><i class="fas fa-times"></i></span>
    </div>

    <!-- :: Menu Box -->
    <div class="menu-box">
        <div class="inner-menu">
            <div class="website-info">
                <a href="index.html" class="logo"><img class="img-fluid" src="./images/logo/01_logo.png"
                        alt="01 Logo"></a>
                <p>GateData are a IT Solutions &amp; Technology Services Provider Institutions. Suitable For IT
                    Solutions, IT Technology, IT Business, Consulting, Software, Digital Solution and any Related
                    Services Company Field.</p>
            </div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <div class="contact-box">
                    <i class="icon-call"></i>
                    <div class="box">
                        <a class="phone" href="tel:+919324160365">+91 93241 60365</a>
                        <a class="phone" href="tel:+919820058115">+91 98200 58115</a>
                    </div>
                </div>
                <div class="contact-box">
                    <i class="icon-email"></i>
                    <div class="box">
                        <a class="mail" href="mailto:support@GateData.com">Support@GateData.com</a>
                        <a class="mail" href="mailto:avyuktaa@avyuktaalegal.com">avyuktaa@avyuktaalegal.com</a>
                    </div>
                </div>
                <div class="contact-box">
                    <i class="icon-location"></i>
                    <div class="box">
                        <p>14D Street Brooklyn,</p>
                        <p>New York.</p>
                    </div>
                </div>
            </div>
            <div class="follow-us">
                <h4>Follow Us</h4>
                <ul class="icon-follow">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <span class="menu-box-icon exit"><i class="fas fa-times"></i></span>
        </div>
    </div>

</body>